.heading{
    font-family: 'Roboto',sans-serif;
    color:white;
    font-size: 15px;
    font-weight: 300;
    background-color: rgb(9, 90, 90);
    padding: 10px;
    margin: 2px;
    width: 200px;
    height: 40px;
    display: list-item;
    justify-content: center;
    vertical-align: middle;
    display: flex;
  }